//base index file
@import '~@/assets/scss/base/index';

//vendor files
@import '~@/assets/scss/vendor/bootstrap-base';
@import '~@/assets/scss/vendor/bootstrap-components';

//utilities index file
@import '~@/assets/scss/utilities/index';

//layout index file
@import '~@/assets/scss/layout/index';

//component index file
@import '~@/assets/scss/components/index'